5-59/15 * * * *  /bin/bash -c '/usr/bin/python3 /opt/thingsboard/gateway.py | /usr/bin/mosquitto_pub -d -h "${MQTT_HOST}" -p ${MQTT_PORT} -t "${MQTT_PATH}" -u "${MQTT_USER}" -l' >> /var/log/thingsboard_gateway.log 2>&1
