5-59/15 * * * *  /bin/bash -c '/usr/bin/python3 /opt/thingsboard/gateway.py -p /tmp/gateway_devices.dict 2>&1 >> /tmp/gateway_data.out | ts "%Y-%m-%d %T" >> /var/log/gateway_ble.log ; /usr/bin/mosquitto_pub -d -h "${MQTT_HOST}" -p ${MQTT_PORT} -t "${MQTT_TOPIC}" -u "${MQTT_USER}" -l < /tmp/gateway_data.out 2>&1 | ts "%Y-%m-%d %T" >> /var/log/gateway_mqtt.log ; test ${PIPESTATUS[0]} -eq 0 && cat /dev/null > /tmp/gateway_data.out'
